# SPDX-FileCopyrightText: 2015-2019 CERN.
# SPDX-License-Identifier: MIT

include *.rst
include *.sh
include *.txt
include .dockerignore
include .editorconfig
include docs/requirements.txt
include LICENSE
include pytest.ini
include tests/mock_module/mappings/records/authorities/notajson
include tests/mock_module/mappings/*/records/authorities/notajson
prune docs/_build
recursive-include docs *.bat *.py *.rst Makefile
recursive-include examples *.json *.py *.sh *.txt
recursive-include invenio_index_migrator *.py
recursive-include tests *.json *.py *.txt
